.box {
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 10px #ccc;
    margin: 10px;
}
#chartContainer {
    height: 500px; 
    width: 100%;
}

.clear {
    clear: both;
}